* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: rgb(53, 35, 156);
    --primary-color: #fff;
    --text-color: #0000;
}

body {
    font-family: 'Josefin Slab',
        serif !important;
    background-color: var(--primary-color);
}

body::before {
    content: '';
    filter: brightness(50%);
    background-image: url(images/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10 !important;
    overflow-y: hidden;
}

.container {
    color: var(--primary-color) !important;
    z-index: 100 !important;
    margin: 2em;
}

#header {
    margin: 2em;
    text-align: center;
}

#survey-form {
    position: relative;
    z-index: 20 !important;
    height: 80%;
    width: 70%;
    margin: 0 auto;
    padding: 1em 1.5em 2em 1.5em;
    border-radius: 10px;
}

#survey-form * {
    margin: 0.3em;
}

label {
    font-size: 18px;
    font-weight: 500px;
}

h2 {
    font-size: 18px !important;
    font-weight: 500px !important;
}

#title {
    font-weight: 900;
}

#description {
    font-size: 20px;
    font-weight: 900;
}